.todo-item-container{
    display:inline-block;// block;
    //float: left;
    text-align: left;
    padding-top: 0px;
    height: 100%;
    width: 800px;
    h6{
        margin: 0px 0px;
    }
    p{
        display: inline-block;
        margin: 0px 0px;
        background-color: black;
        color:greenyellow;
        -webkit-app-region:drag;
        .item-title{
            font-weight: 900;
            font-size: 12px;
        }
        .item-content{
            font-weight: 100;
            font-size: 10px;
        }
        .done-check-box{
            margin-left:8px;
            margin-right: 8px;
            float:left;
            -webkit-app-region:no-drag;
        }
       
    }
    .done{
        text-decoration: line-through;
        color: green
    }
    .undone{

    }
    .date-divider{
        background-color: white;
    }
    .ant-timeline-item-content{
        top:0px;
    }
}
